
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  margin: 80px auto 0 auto; 
}

#walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

.player {
    width: 50px;
  height: 50px;
  position: absolute;
}

#player1 {
  background-color: teal;
}

#player2 {
  background-color: rgb(255,0,179)
}
