.square {
  width: 40px;
  height: 40px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 10px;
  left: 43%;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 12px;
}

#apply {
  background: green;
}

#reset {
  background: red;
}

#display {
  width: 560px;
  height: 680px;
  border: 1px solid rgb(64, 10, 10);
  background-color: rgb(150,150,150);
  position: relative;
  margin: 80px auto 0 auto; 
}