body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-color: black;
}

canvas {
  background-image: url(https://art.ngfiles.com/images/3207000/3207340_701727_runicpixels_terraria-hell-biome-environmental-fanart.2972e7c02eea867a383f2516cdf81872.gif?f1713572829);
  margin: 20px;
  object-fit: cover;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  display: none;
}
