
body {
  background-color: #000031
}

#board {
  margin-top: 50px;
  width: 60%;
  height: 75%;
  border: 3px solid #d7cf00;
  background-color: black;
  position: absolute; /* or fixed */
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#paddleLeft {
  background-color: white;
  width: 20px;
  height: 15%;
  border-radius: 20px;
  position: absolute;
  top: 100px;
  left: 5px;
}

#paddleRight {
  background-color: white;
  width: 20px;
  height: 15%;
  border-radius: 20px;
  position: absolute;
  top: 100px;
  right: 5px;
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;

  /* positioning */
  position: absolute;
  top: 100px;
  left: 50%;
}

#pong-text {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family:'Courier New', Courier, monospace; 
  font-size: 75px; 
  left: 50%; 
}
