
body {
  background-color: darkgreen;
}

#board {
  width: 1120px;
  height: 660px;
  border: 1px solid white;
  background-color: black;
  position: absolute; /* or fixed */
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score, #highScore {
  color: white;
  position: absolute;
  top: 85%;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

#score {
  left: 22%;
}

#highScore {
  right: 22%;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-image: url("../../Images/apple.png");
  position: absolute; 
  background-color: red;
  z-index: 1;
}
