
body {
  background-image: url(https://storage.ko-fi.com/cdn/useruploads/post/a73190c5-1724-4fc7-988e-d141445646d5_spiaggiapreview.gif);
  background-size: cover;
  background-position: top center; /* or bottom center, left center, etc. */
  background-repeat: no-repeat;
}

#title {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
    text-shadow:
  /* -2px -2px 0 black, */
  /* -2px 2px 0 black, */
  /* 2px -2px 0 black, */
   3px 3px 0 black 
}

#board {
  width: 1120px;
  height: 660px;
  border: 1px solid white;
  background-color: black;
  position: absolute; /* or fixed */
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score, #highScore {
  color: white;
  position: absolute;
  top: 85%;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  text-shadow:
  /* -2px -2px 0 black, */
  /* -2px 2px 0 black, */
  /* 2px -2px 0 black, */
   3px 3px 0 black 
}

#score {
  left: 22%;
}

#highScore {
  right: 22%;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-image: url("images/apple.png");
  position: absolute; 
  /* background-color: red; */
  z-index: 1;
}
